@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=b88d06ae-ffa0-4966-bb0c-004af7a4ab28");
    @font-face{
        font-family:"ITC Serif Gothic W01 Light";
        src:url("Fonts/b48153ff-91ec-4a5e-984c-f18f2131fdcd.eot?#iefix");
        src:url("Fonts/b48153ff-91ec-4a5e-984c-f18f2131fdcd.eot?#iefix") format("eot"),url("Fonts/0bb0fed2-c048-479d-b066-6e827220acfd.woff2") format("woff2"),url("Fonts/947a585d-09d8-4c06-9210-ad3c83d2a5c3.woff") format("woff"),url("Fonts/7db29c7f-eca8-44ad-a1a9-b67084e525e9.ttf") format("truetype"),url("Fonts/5bbd4cf1-8bb2-48e3-8904-724e2c2bd79c.svg#5bbd4cf1-8bb2-48e3-8904-724e2c2bd79c") format("svg");
    }
    @font-face{
        font-family:"ITC Serif Gothic W01 Regular";
        src:url("Fonts/b43886e2-e680-4298-a1d3-04a98e443c58.eot?#iefix");
        src:url("Fonts/b43886e2-e680-4298-a1d3-04a98e443c58.eot?#iefix") format("eot"),url("Fonts/8267519e-38e1-42b7-b339-a79d3cde5002.woff2") format("woff2"),url("Fonts/606558f4-4199-4bb9-ab0b-4dd3f367aadf.woff") format("woff"),url("Fonts/137f2c49-985f-452d-b750-3add9d73c43b.ttf") format("truetype"),url("Fonts/0206f4da-d12c-40a8-a650-f205d7ef417d.svg#0206f4da-d12c-40a8-a650-f205d7ef417d") format("svg");
    }
    @font-face{
        font-family:"ITC Serif Gothic W01 Black";
        src:url("Fonts/ddcbbda2-7bc2-453e-83ef-6fce5e35205a.eot?#iefix");
        src:url("Fonts/ddcbbda2-7bc2-453e-83ef-6fce5e35205a.eot?#iefix") format("eot"),url("Fonts/746f4e58-430f-45ee-ac2e-90a2bb8f5c9d.woff2") format("woff2"),url("Fonts/7c736433-916b-4f83-b1bb-a45beeb5c757.woff") format("woff"),url("Fonts/a1206967-643e-459f-bc44-72159b4e0dee.ttf") format("truetype"),url("Fonts/0b5eac11-f3c7-4a6e-bcf1-5d87a72a1596.svg#0b5eac11-f3c7-4a6e-bcf1-5d87a72a1596") format("svg");
    }

body{
	
    background: url("../images/upsideDown.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	color: red;
    background-color: #000;
}

#heading {
    width: 720px;
	margin: 20px 210px;
    text-align: center;
}

#title {
	font-family: ITC Serif Gothic W01 Black, Latin, serif;
	font-size: 100px;
	letter-spacing: 12px;

}

#h, #n {
	font-size: 150px;
	vertical-align: text-top;
}

#subTitle {
    width: 400px ;

	font-family: ITC Serif Gothic W01 Regular, Latin, serif;
	font-size: 40px;
    margin: -35px 150px;
}

#whole {
    width: 720px;
    margin: 75px 210px;
	font-family: ITC Serif Gothic W01 Light, Latic, serif;
	font-size: 32px;
}

#gameOver{
	visibility: hidden;
}

